header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
    font-size: 5vh;
    height: 30vh;
}

button {
    margin: 25px auto;
    padding: 1vw 5vh;
    border-radius: 20px;
}

footer {
    font-size: medium;
}
